a{
  cursor: pointer;
}
main {
  margin-bottom: 50px;
}
.table tr td,
.table tr th {
  vertical-align: top;
}
.table tr td:nth-child(2) {
  min-width: 150px!important;
}
.table tr th.table-nums{
  min-width: 80px!important;
  vertical-align: top;
}
.user-img{
  width:70px;
}
.dropdown{
  position: relative;
  width: 100%;
  display: inline-block;
  min-width: 200px;
}
.mini-drop{
  min-width: auto; 
}
.filter-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  padding: 0.75rem;
  background-color: #35393c;
  cursor: pointer;
  border: none;
}
.filter-btn:hover{
 background-color: #3E4144;
}
.dropdown-menu{
  right: 0;
  border-radius: 0;
  -webkit-box-shadow: 10px 9px 12px -6px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 9px 12px -6px rgba(0,0,0,0.44);
  box-shadow: 10px 9px 12px -6px rgba(0,0,0,0.44);
}
.table{
  min-height: 250px;
}
.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: transparent;
}
.table thead th {
  padding: 0rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
.dropdown-item:active{
  background-color: #212529;
  color: #000;
}
.dropdown-item:hover{
  background-color: #ddd;
}
.tab-name small{
  color: #ddd;
}
.filter-input-box{
  border-radius: 0;
  margin-bottom: 1rem;
  border: 1px solid #35393c;
}
.filter-input-box__add{
  border:none;
  border-radius: 0;
  background-color: #35393c;
  color: #fff;
  padding: .75rem;
}
.filter-input-box__control{
  border: none;
}
.filter-input-box__control:active,
.filter-input-box__control:focus{
  border-color: #666e76;
  box-shadow: 0 0 0 0.2rem rgba(134,142,150,.5);
  border-radius: 0;
}
td > span,
th > span,
td > figure {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0;
}
